
body {
    background: #A9D4D9;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background: transparent;
    position: relative;
    margin: auto;
    display: block;
  }
  .tail {
    position: absolute;
    width: 100px;
    height: 180px;
    background: transparent;
    left: 34%;
    top: 8%;
    transform: rotate(-5deg);
    z-index: -1;
    animation-name: wave-tail;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
  @keyframes wave-tail {
    0% {
      transform: rotate(-5deg);
    }
    25% {
      transform: rotate(-12deg);
    }
    50% {
      transform: rotate(-17deg);
    }
    75% {
      transform: rotate(-12deg);
    }
    100% {
      transform: rotate(-5deg);
    }
  }
  .tail-top,
  .tail-upper,
  .tail-middle,
  .tail-lower {
    position: absolute;
    width: 35px;
    background: white;
  }
  
  .tail-top {
    height: 35px;
    border-radius: 50%;
    border: 4px solid black;
    z-index: 5;
  }
  .tail-top:before,
  .tail-upper:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #F2C2CB;
    z-index: 99;
    border-radius: 50%;
  }
  .tail-upper:after {
    top: -35%;
  }
  .tail-upper {
    height: 50px;
    border-right: 4px solid black;
    border-left: 4px solid black;
    top: 11%;
    left: 11px;
    transform: rotate(-25deg);
    z-index: 5;
  }
  .tail-middle {
    height: 35px;
    border-radius: 50%;
    border: 4px solid black;
    top: 27%;
    left: 22%;
    z-index: 3;
  }
  .tail-lower {
    height: 70px;
    background: white;
    border-right: 4px solid black;
    border-left: 4px solid black;
    top: 39%;
    left: 27%;
    transform: rotate(-7deg);
    border-top-right-radius: 4px;
    z-index: 5;
  }
  .torso {
    position: absolute;
    width: 155px;
    height: 80px;
    background: white;
    border: 4px solid black;
    border-bottom: 0;
    border-top-left-radius: 60% 100%;
    border-top-right-radius: 60% 100%;
    top: 32%;
    left: 29%;
  }
  
  .head {
    background: white;
    width: 250px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 20%;
    border: 4px solid black;
    border-bottom-left-radius: 65% 50%;
    border-bottom-right-radius: 65% 50%;
    border-top-left-radius: 60% 70%;
    border-top-right-radius: 60% 70%;
    z-index: 2;
    overflow: visible;
  }
  .head-copy {
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    border-bottom-left-radius: 65% 50%;
    border-bottom-right-radius: 65% 50%;
    border-top-left-radius: 60% 70%;
    border-top-right-radius: 60% 70%;
    z-index: 3;
  }
  .ear {
    position: absolute;
    background: white;
    width: 50px;
    height: 70px;
    border: 4px solid black;
    border-top-left-radius: 85% 100%;
    border-top-right-radius: 85% 100%;
  }
  .ear:before {
    position: absolute;
    content: "";
    width: 80%;
    height: 70%;
    top: 5%;
    left: 10%;
    background: #F2C2CB;
    border-top-left-radius: 75% 100%;
    border-top-right-radius: 75% 100%;
  }
  .ear-left {
    top: 0;
    left: 10px;
    transform: rotate(-30deg);
    z-index: -1;
  }
  .ear-right {
    top: 0;
    right: 15px;
    transform: rotate(35deg);
    z-index: -1;
  }
  .eye {
    position: absolute;
    width: 50px;
    height: 50px;
    background: black;
    z-index: 4;
    border-radius: 50%;
  }
  .eye:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 95%;
    background: black;
    bottom: 3px;
    border-radius: 50%;
    border-bottom: 4px solid white;
  }
  .eye:before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background: white;
    z-index: 99;
    border-radius: 50%;
  }
  .eye-left {
    top: 35%;
    left: 15%;
  }
  .eye-left:before {
    top: 35%;
    left: 22%;
  }
  .eye-right {
    top: 35%;
    right: 15%;
  }
  .eye-right:before {
    top: 35%;
    right: 22%;
  }
  .nose {
    position: absolute;
    width: 25px;
    height: 18px;
    background: black;
    border-bottom-left-radius: 70% 100%;
    border-bottom-right-radius: 70% 100%;
    top: 60%;
    z-index: 99;
    left: 45%;
  }
  .nose:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 150%;
    background: transparent;
    border-bottom: 3px solid black;
    border-radius: 0%;
    left: -15px;
    top: 0;
    transform: rotate(-30deg);
  }
  .nose:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 150%;
    background: transparent;
    border-bottom: 3px solid black;
    border-radius: 0%;
    right: -15px;
    top: 0;
    transform: rotate(30deg);
  }
  .mouth {
    position: absolute;
    width: 25px;
    height: 15px;
    background: #F2C2CB;
    border-bottom-left-radius: 70% 100%;
    border-bottom-right-radius: 70% 100%;
    top: 75%;
    z-index: 99;
    left: 45%;
  }
  
  .hand {
    position: absolute;
    width: 45px;
    height: 30px;
    background: white;
    border: 3px solid black;
    border-radius: 45%;
  }
  .hand-left {
    top: 85%;
    left: 30px;
    transform: rotate(10deg);
    z-index: 99;
  }
  .hand-right {
    top: 85%;
    right: 30px;
    transform: rotate(-10deg);
    z-index: 99;
  }
  .hand:before,
  .hand:after {
    position: absolute;
    content: "";
    width: 30%;
    height: 40%;
    background: transparent;
  
    bottom: 0;
  }
  .hand:before {
    border-radius: 50%;
    left: 4px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
  }
  .hand:after {
    right: -3px;
    transform: rotate(-10deg);
    border-radius: 40%;
    border-left: 4px solid black;
  }
  
  .footer #button{
	width:35px;
	height:35px;
	border: #F2A2B1 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border:  #F2A2B1 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: #F2A2B1;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3{
	font-family: 'Sanvito';
	font-size: 30px;
	font-weight: 100;
	margin-top:70px;
	margin-left:40px;
}
